<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">Aprendendo angular na proway/Capgemini</p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <a href="mailto:davidgomestej@gmail.com">
          <li><i class="fa-solid fa-envelope"></i>davidgomestej@gmail.com</li>
        </a>
        <li><i class="fa-solid fa-phone"></i> (79) 9 9654-8866</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados
  </section>
</footer>
